.navi {
}
.navi_list {
}
.navi_list_item1 {
    color: blue;
}
.navi_list_item2 {
    color: aquamarine;
}
.navi_list_item3 {
    color: brown;
}

.title {
    color: red;
}
.dnipro {
    color: blue;
}
.title_mount {
    color: black;
}
.title_step {
    color: bisque;
}
.footer {
    color: red;
}